

      <hr>
 		<h3><%= link_to 'Users', users_path %></h3>
 		<h3><%= link_to 'User Matchpicks', matchpicks_path %></h3>

      	<h3><%= link_to 'Squad', squads_path %></h3>
      	<h3><%= link_to 'Squad Performance', squad_performances_path %></h3>


<br>

      <div class="footer">
        <p>&copy; StepStoneWeb 2013</p>
      </div>

    </div>

  </body>
</html>


