
<div class="jumbotron">
  <h1>2013 Lions Tour</h1>
  <p class="lead">yet another predictascore</p>
  <a class="btn btn-large btn-success" <%= link_to 'Sign up', new_user_path %> </a> or 
	<a class="btn btn-large btn-info" <%= link_to 'Sign in', signin_path %> </a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span5 offset 1">
    <h4>Free to enter</h4>
    <p>No entries fees this time, £20 to the winner.</p>

    <h4>Enter scores online</h4>
    <p>Give up the napkins and postcards, enter your scores online.</p>
  </div>

  <div class="span5 offset1">
    <h4>View all predictions online</h4>
    <p>No more "I can't remember my predictions" on match day.</p>

    <h4>Results</h4>
    <p>Public display of humiliation.</p>

  </div>
</div>

<hr>



