
<h2>Rules</h2><br>
<ul>
<h3>Creating your Lions Test Match Squad</h3>
	<li>All competitors need to create a user profile to track their account.</li>
	<li>Each competitor must create their own Lions Test Match Squad containing 15 players.</li>
	<li>>> Players must be selected from backs and forwards, onsite guidance provided.</li>
	<li>Each competitor must <b>lock in</b> their selection, once completed, prior to the first test match. </li>
	<li>>> Once a competitor has locked their team they will be able to view other competitors locked in teams. </li>
	<li>>> Initial draft teams cannot be viewed by other competitors.</li>
	<li>Locked in teams cannot be altered, expect by the site administrator under special circumstances.</li><br>

<h3>Test Match Squad Scoring</h3>
	<li>Each competitor will receive 2 points for any player in their squad who starts a test match and 1 point for a player subbed in during the test match.</li>
	<li>2 extra points will be awarded if a player in a competitors squad scores a try or a drop goal in any match.</li>
	<li>No points to be awarded for kicked points other than drop goals.</li>
	<li>Points scored per match are available in the Leaderboard page.</li>
	<li>Scores will be updated after each test match.</li><br>
	
<h3>All Match Score Predictions</h3>
	<li>Each competitor will make match score predictions for each Lions tour matche.</li>
	<li>Predictions must be <b>locked in</b> before the first match (1st June 2013)
	<li><i> ***** Six Nations P score rules to apply to the match predictions.
</i>
	</li>
	</ul>
<br><br><br>

      <div class="footer">
        <p>&copy; StepStoneWeb 2013</p>
      </div>

    </div>

  </body>
</html>


