
<h3>Help</h3><br>
<div class="row-fluid">
  <div class="span6 offset1">

<ul>
	<li>Sign up - create your account.</li>
	<li>Enter your scores online before 21st June.</li>
	<li>Standard 6 Nations Predictascore rules to be applied for points scoring.</li>
	<li>Results will be updated online asap after each game.</li>
	<li>The winner gets £20.</li>
</ul>	
<br>
<br>
</div></div>


