

<div id="myCarousel" class="carousel slide">
  
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="/images/players/alan_wyn_jones.jpg"></div>
    <div class="item"><img src="/images/players/adam_jones.jpg"></div>
    <div class="item"><img src="/images/players/hibbard.jpg"></div>
    <div class="item"><img src="/images/players/toby_faletau.jpg"></div>
    <div class="item"><img src="/images/players/jon_davies.jpg"></div>
    <div class="item"><img src="/images/players/george_north.jpg"></div>
    <div class="active item"><img src="/images/players/mike_phillips.jpg"></div>
    <div class="item"><img src="/images/players/dan_lydiate.jpg"></div>
    <div class="item"><img src="/images/players/jamie_roberts.jpg"></div>
    <div class="item"><img src="/images/players/leigh_halfpenny.jpg"></div>
    <div class="item"><img src="/images/players/justin_tupuric.jpg"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

