<div class="row">
 <div class="span9 offset1">
<i>	To make your team selection for the three Lions Tour Test matches:<br><br>

	NOTE: You can navigate through all your required enrollment and update requirements by using the dop-down options in the Selector box.<br><br>



	1.    Change the Selector to Forwards<br>

	2.    Choose X Forwards and click save<br>

	3.       Change the Selector to Backs<br>

	4.       Choose Y Backs and click save<br>

	5.       Change the Selector to Summary to view your team selection for the three tests<br>

	6.       If you are ready Lock* your team at this point.   Note: Once Locked, your team cannot be changed.<br>

	7.       If you still want to tweak your choices, your current team selections are saved, <br>but you must lock your choices by XX<br>.

	         If you want to make further change the Selector to the Edit options to view and edit your full team.<br>

	8.       Once your team is locked you can view other participants locked team selections.<br>

	9.       If you haven’t already, go to User Summary to enter your match score predictions.<br>
	</i><br>
</div></div>